In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns
import scipy
import matplotlib.pyplot as plt

In [3]:
# Create folder path
path = r'C:\Users\Thor\OneDrive\Desktop\Career Foundry Tools\Projects\Project 7\Netflix'

In [4]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'all-weeks-countries.csv'), index_col = False)

In [5]:
df.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,Unnamed: 8
0,Argentina,AR,2021-11-14,Films,1,Red Notice,NaN,1,NaN
1,Argentina,AR,2021-11-14,Films,2,Love Hard,NaN,2,NaN
2,Argentina,AR,2021-11-14,Films,3,Yara,NaN,2,NaN
3,Argentina,AR,2021-11-14,Films,4,211,NaN,1,NaN
4,Argentina,AR,2021-11-14,Films,5,The Harder They Fall,NaN,2,NaN

In [9]:
df=df.drop(columns = ['Unnamed: 8'])

In [10]:
df.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2021-11-14,Films,1,Red Notice,NaN,1
1,Argentina,AR,2021-11-14,Films,2,Love Hard,NaN,2
2,Argentina,AR,2021-11-14,Films,3,Yara,NaN,2
3,Argentina,AR,2021-11-14,Films,4,211,NaN,1
4,Argentina,AR,2021-11-14,Films,5,The Harder They Fall,NaN,2

In [23]:
df_film=df.filter(['country_name','category','show_title'])

In [24]:
df_film.head()

  country_name category            show_title
0    Argentina    Films            Red Notice
1    Argentina    Films             Love Hard
2    Argentina    Films                  Yara
3    Argentina    Films                   211
4    Argentina    Films  The Harder They Fall

In [25]:
df_film.shape

(37600, 3)

In [26]:
df_unique = df_film.drop_duplicates(subset=['show_title'])

In [27]:
df_unique.shape

(1504, 3)

In [28]:
df_list=df_unique['show_title'].to_list

In [31]:
df_list

<bound method IndexOpsMixin.tolist of 0                    Red Notice
1                     Love Hard
2                          Yara
3                           211
4          The Harder They Fall
                  ...
37458    Descendants of the Sun
37459          The Fiery Priest
37507               Dreamy Eyes
37508               My Mr. Wife
37587                    Glitch
Name: show_title, Length: 1504, dtype: object>

In [32]:
import requests

url = "https://movies-tvshows-data-imdb.p.rapidapi.com/"

querystring = {"type":"get-movies-by-title","title":"the harder they fall"}

headers = {
    'x-rapidapi-host': "movies-tvshows-data-imdb.p.rapidapi.com",
    'x-rapidapi-key': "a0a5381157mshd35ac8e64965466p1bcb35jsn8e55b0e12b9f"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"movie_results":[{"title":"Jane Doe: The Harder They Fall","year":2006,"imdb_id":"tt0455134"},{"title":"The Harder They Fall","year":1956,"imdb_id":"tt0049291"},{"title":"The Harder They Fall","year":2021,"imdb_id":"tt10696784"}],"search_results":3,"status":"OK","status_message":"Query was successful"}