# 5.7 Deriving New Variables

### This script contains the following points:

### 1. If-Statements with User-Defined Functions
### 2. If-Statements with the loc() Function
### 3. If-Statements with For-Loops

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create folder path
path = r'C:\Users\Thor\OneDrive\Desktop\Career Foundry Tools\Projects\Project 5\09-01-2021 Instacart Basket Analysis'

In [3]:
# Loading orders_products_merged.pkl
df_op_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# Load a smaller subset of the data to make it easier to work with
df = df_op_merged[:1000000]

In [5]:
df

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0
1,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0
2,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4
3,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3
4,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1320072,6907,3,2,10,5.0,35599,4,0,both,NyQuil Cold & Flu Nighttime Relief Cherry Flav...,11.0,11.0,4.7
999996,1320072,6907,3,2,10,5.0,9124,5,1,both,Broccoli & Cheddar Bake Meal Bowl,38.0,1.0,9.0
999997,1320072,6907,3,2,10,5.0,38890,6,0,both,No Pulp Calcium & Vitamin D Pure Premium 100% ...,98.0,7.0,1.3
999998,1320072,6907,3,2,10,5.0,3308,7,1,both,Original English Muffins,93.0,3.0,10.5
999999,1320072,6907,3,2,10,5.0,44042,8,1,both,Premium Italian Bread,112.0,3.0,8.0

# If-Statements with User-Defined Functions

In [13]:
# define function
def add_num(x,y):
    sum = x+y
    return sum

In [14]:
# Run function
add_num(9,11)

20

In [16]:
# Making sure df has only a million rows of data
df.shape

(1000000, 14)

In [17]:
# Creating a new price label column that will apply elseif to all rows in new column
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [18]:
# Running new function
df['price_range'] = df.apply(price_label, axis=1)

<ipython-input-18-7d4605934d5e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [20]:
# Checking value counts of new column after running function
df['price_range'].value_counts()

Mid-range product    672143
Low-range product    314646
High range            12292
Not enough data         919
Name: price_range, dtype: int64

In [23]:
# Checking max price to look for errors
df['prices'].max()

99999.0

In [26]:
df['prices'].describe()

count    999081.000000
mean         11.218849
std         412.943054
min           1.000000
25%           4.200000
50%           7.300000
75%          11.300000
max       99999.000000
Name: prices, dtype: float64

# If-Statements with the loc() Function

In [5]:
# loc() funtion to create a new column showing all prices over 15 being labeled as 'high range product'
df_op_merged.loc[df_op_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [6]:
# loc() funtion to create a new column showing all prices over 5 but less than 15 being labeled as 'mid range product'
df_op_merged.loc[(df_op_merged['prices'] <= 15) & (df_op_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [7]:
# loc() funtion to create a new column showing all prices less than 5 being labeled as 'low range product'
df_op_merged.loc[df_op_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [8]:
df_op_merged['price_range_loc'].value_counts(dropna=False)

Mid-range product     20462144
Low-range product      9476774
High-range product      389845
NaN                      28194
Name: price_range_loc, dtype: int64

In [10]:
df_op_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product
2,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product
3,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product
4,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product

# If-Statements with For-Loops

In [43]:
# For loop example
for x in range (30,45):
    print('My age is %d'%(x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [44]:
# Value count function to find busiest days of the week in the df
df_op_merged['orders_day_of_week'].value_counts(dropna=False)

0    5784308
1    5309089
6    4194576
5    3955888
2    3951349
3    3603962
4    3557785
Name: orders_day_of_week, dtype: int64

In [46]:
# Loop function to create a column to label day 0 as busiest day and day 4 as least busy. All other days labeled regularly busy
result = []

for value in df_op_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [51]:
df_op_merged['busiest_day'] = result

In [52]:
df_op_merged['busiest_day'].value_counts(dropna=False)

Regularly busy    21014864
Busiest day        5784308
Least busy         3557785
Name: busiest_day, dtype: int64

In [53]:
df_op_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Regularly busy
2,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy
3,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Regularly busy
4,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy

# Task 5.7

## Question 2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [11]:
result = []

for value in df_op_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest Days")
  elif value == 1:
    result.append("Busiest Days")
  elif value == 3:
    result.append("Slowest Days")
  elif value == 4:
    result.append("Slowest Days")
  else:
    result.append("Regularly busy")

In [12]:
df_op_merged['busiest_days'] = result

In [13]:
df_op_merged['busiest_days'].value_counts()

Regularly busy    12101813
Busiest Days      11093397
Slowest Days       7161747
Name: busiest_days, dtype: int64

In [58]:
# Dropping original busiest day column to save data space and to avoid redundancy
df_op_merged = df_op_merged.drop(columns = ['busiest_day'])

In [59]:
df_op_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest Days
1,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Slowest Days
2,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest Days
3,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest Days
4,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Slowest Days

## Question 4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [31]:
df_op_merged['order_time_of_day'].value_counts()

10    2596274
11    2566940
14    2519533
15    2489838
13    2489731
12    2448050
16    2367121
9     2313739
17    1945590
8     1624168
18    1522301
19    1170216
20     910845
7      845501
21     746953
22     592918
23     376174
6      275087
0      203627
1      108193
5       82805
2       64017
4       49442
3       47894
Name: order_time_of_day, dtype: int64

In [36]:
df_op_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77.0,7.0,9.0,Mid-range product,Slowest Days,Average Orders
1,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117.0,19.0,3.0,Low-range product,Slowest Days,Average Orders
2,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Slowest Days,Average Orders
3,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24.0,4.0,10.3,Mid-range product,Slowest Days,Average Orders
4,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Slowest Days,Average Orders

In [41]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 10, 'busiest_period_of_day'] = 'Most Orders'

In [42]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 11, 'busiest_period_of_day'] = 'Most Orders'

In [43]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 4, 'busiest_period_of_day'] = 'Fewest Orders'

In [44]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 3, 'busiest_period_of_day'] = 'Fewest Orders'

In [45]:
df_op_merged['busiest_period_of_day'].value_counts()

Most Orders      5163214
Fewest Orders      97336
Name: busiest_period_of_day, dtype: int64

In [46]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 14, 'busiest_period_of_day'] = 'Average Orders'

In [47]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 15, 'busiest_period_of_day'] = 'Average Orders'

In [48]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 13, 'busiest_period_of_day'] = 'Average Orders'

In [49]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 12, 'busiest_period_of_day'] = 'Average Orders'

In [50]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 16, 'busiest_period_of_day'] = 'Average Orders'

In [51]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 9, 'busiest_period_of_day'] = 'Average Orders'

In [52]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 17, 'busiest_period_of_day'] = 'Average Orders'

In [53]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 8, 'busiest_period_of_day'] = 'Average Orders'

In [54]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 18, 'busiest_period_of_day'] = 'Average Orders'

In [55]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 19, 'busiest_period_of_day'] = 'Average Orders'

In [56]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 20, 'busiest_period_of_day'] = 'Average Orders'

In [57]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 7, 'busiest_period_of_day'] = 'Average Orders'

In [58]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 21, 'busiest_period_of_day'] = 'Average Orders'

In [59]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 22, 'busiest_period_of_day'] = 'Average Orders'

In [60]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 23, 'busiest_period_of_day'] = 'Average Orders'

In [61]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 6, 'busiest_period_of_day'] = 'Average Orders'

In [62]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 0, 'busiest_period_of_day'] = 'Average Orders'

In [63]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 1, 'busiest_period_of_day'] = 'Average Orders'

In [64]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 5, 'busiest_period_of_day'] = 'Average Orders'

In [65]:
df_op_merged.loc[df_op_merged['order_time_of_day'] == 2, 'busiest_period_of_day'] = 'Average Orders'

In [67]:
df_op_merged['busiest_period_of_day'].value_counts()

Average Orders    25096407
Most Orders        5163214
Fewest Orders        97336
Name: busiest_period_of_day, dtype: int64

In [68]:
# Export data to pickle format
df_op_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))