# 5.2 Jupyter Fundamentals & Python Data Types

### This script contains the following points:

#### 1. Python Data Types

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## Python Data Types

### Question 7: Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables.

In [42]:
#a)
x=101
y=1

In [43]:
x-y

100

In [44]:
#b) 
x=20
y=5

In [45]:
x*y

100

In [46]:
#c)
x=300
y=3

In [47]:
x/y

100.0

### Question 8: Code 2 floating-point variables and divide them by each other.

In [48]:
x = 45.558
y = 12.773

In [49]:
x/y

3.5667423471384954

### Question 9: Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!).

In [50]:
x='che'
y='ese'

In [51]:
x+y

'cheese'

### Question 10: Construct 2 short sentences made of separate strings.

In [52]:
x='Hello, my name '
y='is Chris!'

In [53]:
x+y

'Hello, my name is Chris!'

### Bonus Task: At the bottom of your file, include a command that makes a string appear 100 times.

In [54]:
(x+y)*100

'Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!Hello, my name is Chris!'